.env
__pycache__/
*.py[cod]
.pytest_cache/

airflow/logs/*
!airflow/logs/.gitkeep

data/input/**/*.csv
data/input/**/*.zip
data/generated/**/*.csv
data/quality_reports/*.json

dbt/target/
dbt/dbt_packages/
dbt/logs/

superset/screenshots/*.png
superset/screenshots/*.jpg
